footer{
	background: $primary-color;

	.container{
		max-width: 1150px;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.footer-main{
		padding: 74px 0 63px;

		.block{
			max-width: 200px;
			width: 100%;
			margin: 0;

			h6,
			p,
			span{
				font-size: $font-sm;
				font-weight: 400;
				color: #fff;
			}
			p{
				border-bottom: 1px solid $primary-color;
			}
			ul{
				li{
					a{
						font-size: $font-sm;
						font-weight: 600;
						color: #fff;
					}
				}
			}
			&.newsletter-block{
				max-width: 336px;
				label{
					font-size: $font-md - 2;
					font-weight: 600;
					line-height: 26px;
					color: #fff;
				}
				.form-bottom{
					display: flex;
					justify-content: space-between;
					margin-top: 15px;

					.input-style{
						display: flex;
						margin: 5px 0 0;
						input{
							width: 21px;
							height: 21px;
						}
						label{
							margin: 0 0 0 12px;
						}
						label,a{
							font-size: $font-xs;
							font-weight: 400;
							line-height: 18px;
							color: #fff;
						}
						a{
							text-decoration: underline;
						}
					}
					.btn-secondary{
						margin: 5px 0 0;
						border: 0;
						padding: 5px 20px;
					}
				}
			}
		}
	}

	.footer-bottom{
		background: $secondary-color;
		padding: 14px 0 25px;

		.block{
			margin: 0;

			&.address-block{
				max-width: 38%;
				width: 100%;
			}
			&.reg-num-block{
				max-width: 24%;
				width: 100%;
			}
			&.img-block{
				display: flex;
				align-items: flex-end;

				figure{
					margin-left: 20px;

					&:first-child{
						margin-left: 0;
					}
				}	
			}
			&.credit-block{
				display: flex;
				align-items: flex-end;
			}

			h6{
				font-size: $font-sm;
				font-weight: 600;
				color: #fff;
			}
			address,
			a,p{
				font-size: $font-sm;
				font-weight: 400;
				color: #fff;
				font-style: normal;
			}
		}
	}
}