// hero banner
.hero-banner{
	max-height: 924px;

	.owl-carousel{ 
		.owl-stage-outer{
			margin-bottom: 0;
		}
	}
	.owl-theme{
		.owl-dots{
			position: absolute;
			bottom: 40px;
			left: 50%;
			transform: translateX(-50%); 

			.owl-dot{
				outline: none;
				span{
					width: 20px;
					height: 20px;
					background: #fff;
					border: 3px solid #fff;
				}
				&:hover,
				&.active{
					span{
						background: transparent;
					}
				}

			}
		}
	}

	.caption{
		position: absolute;
		top: 175px;
		left: 140px;
		max-width: 972px;
		width: 100%;

		h1{
			font-family: 'Playfair Display', serif;
			font-size: 90px;
			color: #fff;
			line-height: 100px;
			margin-bottom: 22px;
		}
		a{
			font-size: $font-sm + 2;
			color: #fff;
		}
	}
}

// planning section
.planning-section{
	background: $bg-color-light;
	padding: 80px 0 46px;
	margin-bottom: 89px;
	.container{
		max-width: 1266px;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
	}
	.heading{
		text-align: center;
		margin-bottom: 65px;
		.title{
			@include title;
		}		
	}
	.planning-box{
		width: 100%;
		display: flex;
		justify-content: space-between;

		.box{
			width: 100%;
			background: #fff;
			padding: 44px 36px;
			box-shadow: 0px 4px 4px #00000012;
			border-radius: 10px;

			.img-block{
				max-width: 136px;
				width: 100%;
				height: 136px;
				border-radius: 50%;
				background: $primary-color;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 29px;
			}
			p{
				font-family: 'Playfair Display', serif;
				font-size: 28px;
				font-weight: 600;
				line-height: 32px;
				color: $secondary-color;
				text-align: center;
			}
		}
	}

	.owl-theme{
		.owl-dots{
			.owl-dot{
				outline: none;
				span{
					width: 20px;
					height: 20px;
					background: $primary-color;
					border: 3px solid $primary-color;
				}
				&:hover,
				&.active{
					span{
						background: transparent;
					}
				}

			}
		}
	}
}

.about-section{
	margin-bottom: 57px;
	.container{
		max-width: 1266px;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
	}
	.heading{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 36px;
		.title{
			@include title;
			margin: 0;
		}
		.read-more-link{
			margin: 0;
			a{
				font-size: $font-sm + 2;
				font-weight: 600;
				color: $primary-color;
			}
			.fa{
				margin-left: 20px;
				vertical-align: middle;
			}
		}
	}
	.about-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.block{
			max-width: 44%;
			width: 100%;
			margin: 0;

			p{
				font-size: 20px;
				font-weight: 400;
				color: $secondary-color;
				line-height: 32px;
			}
		}
		.img-block{
			max-width: 50%;
			width: 100%;
			margin: 0;
			position: relative;

			figure{
				width: 100%;
				img{
					width: 100%;
				}
			}
			.popup-youtube{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); 
				z-index: 1;
				font-size: 80px;
				color: $primary-color;
			}
		}
	}
	#video-view{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
		display: flex;
		align-items: center;
		opacity: 0;
		visibility: hidden;
	}
}

.popup-video{
	.about-section{
		#video-view{
			opacity: 1;
			visibility: visible;
		}
	}
}

// faq section
.faq-section{
	background: $bg-color-light;
	padding: 34px 0 92px;
	.container{
		max-width: 1026px;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
	}
	.heading{
		text-align: center;
		margin-bottom: 45px;
		.title{
			@include title;
			text-transform: uppercase;
		}		
	}
	.content-block{
		.accordian-list{
			margin-bottom: 16px;
			background: #fff;
			width: 100%;
			box-shadow: 0px 4px 4px #00000014;
			border-radius: 10px;
			padding: 28px 26px;

			&:last-child{
				margin-bottom: 0;
			}
			&.active{
				.name{
					&:after{
						transform: translateY(-50%) rotate(90deg);
					}
				}
			}
			.name{
				position: relative;

				&:before{
					content: "";
					width: 25px;
					height: 2px;
					background: $primary-color;
					position: absolute;
					top: 50%;
					right: 26px;
					transform: translateY(-50%); 
				}
				&:after{
					content: "";
					width: 2px;
					height: 25px;
					background: $primary-color;
					position: absolute;
					top: 50%;
					right: 37px;
					transform: translateY(-50%) rotate(180deg);
					transition: 0.3s ease-in-out;
				}
				p{
					font-family: 'Playfair Display', serif;
					font-size: 28px;
					font-weight: 600;
					line-height: 32px;
					color: $secondary-color;

					&:before{
						content: "Q:";
						font-family: 'Playfair Display', serif;
						font-size: 28px;
						font-weight: 600;
						line-height: 32px;
						color: $primary-color;
						margin-right: 20px;	
					}
				}
			}
			.caption{
				margin-top: 20px;

				p{
					font-size: $font-md;
					font-weight: 600;
					line-height: 32px;
					color: $secondary-color;
				}
			}
		}
	}

}

// contact form section
.contact-form-section{
	padding: 112px 0 91px;
	.container{
		max-width: 1150px;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
	}
	.heading{
		max-width: 817px;
		width: 100%;
		text-align: center;
		margin-bottom: 56px;
		.title{
			font-family: 'Playfair Display', serif;
			font-size: 28px;
			font-weight: 600;
			line-height: 32px;
			color: $secondary-color;
		}		
	}

	.form-content{
		form{
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.left-block,
		.right-block{
			max-width: 49%;
			width: 100%;
			margin: 0;
		
			.input-style{
				margin-bottom: 10px;
				label{
					width: 100%;
					display: inline-block;
					font-size: $font-sm;
					line-height: 26px;
					color: $secondary-color;
					font-weight: 400;
				}

				input{
					height: 32px;
				}
				select{
					height: 38px;

				}
				textarea{
					height: 105px;
				}
			}
		}
		.form-bottom{
			max-width: 49%;
			width: 100%;
			margin: 0 0 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.input-style{
				display: flex;
				align-items: center;
				margin: 5px 0 0;
				input{
					width: 21px;
					height: 21px;
				}
				label{
					margin: 0 0 0 12px;
				}
				label,a{
					font-size: $font-xs;
					font-weight: 400;
					line-height: 18px;
					color: $secondary-color;
				}
				a{
					text-decoration: underline;
				}
			}
			.btn-primary{
				margin: 5px 0 0;
				border: 0;
				padding: 5px 47px;
			}
		}
	}
}

.scrollToTop{
	position: fixed;
	bottom: 8px;
	right: 14px;
	background: #fff;
	padding: 12px 15px;
	box-shadow: 0px 4px 4px #00000029;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	font-size: $font-md;
	font-weight: 400;
	color: $secondary-color;
	z-index: 998;
	opacity: 0;
	visibility: hidden;

	.fa{
		color: $primary-color;
	}

	&.active{
		opacity: 1;
		visibility: visible;
	}
}


