@media (max-width: 641px){
	.about-section{
		.about-content{ 
			.block{
				max-width: 100%;
				margin: 0 0 30px;
			}
			.img-block{
				max-width: 75%;
			}
		}
	}
}

@media (max-width: 1239px){
	#header{
		.header-bottom{
			nav{
				position: absolute;
				top: 0;
				left: -100px;
				z-index: 999;
				background: rgba(0,0,0,0.8);
				width: 100%;
				height: 100vh;
				opacity: 0;
				visibility: hidden;
				transition: 0.3s ease-in-out;

				&.active{
					opacity: 1;
					visibility: visible;
					left: 0;
				}
				ul{
					display: inline-block;
					background: #fff;
					width: 50%;
					height: 100%;
					padding: 20px;
					li{
						margin-left: 0;
						margin-bottom: 20px;
						a{
							font-size: $font-sm + 1;
						}
						&.dropdown{
							ul{
								width: 100%;
								position: relative;
								top: 0;
							}
						}
					}
				}
				.icon-close{
					display: block;
				}
			}
			.hamburger{
				display: block;
			}
		}
	}
}

@media (max-width: 1023px){
	.hero-banner{
		.caption{
			top: 80px;
			left: 20px;
			h1{
				font-size: 70px;
			}
		}
	}
}

@media (min-width: 1024px) and (max-width: 1240px){
	#header{
		.header-top{
			.header-top-left,
			.header-top-right{
				.btn-outline{
					font-size: $font-sm;
				}
			}
		}
		.header-bottom{
			nav{
				ul{
					li{
						margin-left: 20px;
						a{
							font-size: $font-sm + 1;
						}
					}
				}
			}
		}
	}
	.hero-banner{
		.caption{
			top: 80px;
			left: 50px;
			h1{
				font-size: 70px;
			}
		}
	}
}

@media (min-width: 1239px) and (max-width: 1600px){
	#header{
		.header-top{
			.header-top-left,
			.header-top-right{
				.btn-outline{
					font-size: $font-sm;
				}
			}
		}
		.header-bottom{
			nav{
				ul{
					li{
						margin-left: 20px;
						a{
							font-size: $font-sm + 1;
						}
					}
				}
			}
		}
	}
}