$primary-color: #099E71;
$secondary-color: #01383C;
$bg-color-light: #F1F8F6;

$color-opacity_34: #00000034;
$color-opacity_29: #00000029;

$font-xs: 14px; 
$font-sm: 16px; 
$font-md: 20px; 
$font-lg: 24px;  